.semente {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: brown;
  position: relative;
  animation-name: crescer;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes crescer {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    background-color: green;
  }
}
