html, body{
    height: 100%;
}

.main-bg{
    background-image: url('../img/mainbg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
    overflow-x: hidden;
}

@media only screen and (max-width: 767px) {
    .main-bg{
        background-size: cover;
        background-position: top;
        margin-right: -29%;
        padding: auto;
    }

    html, body{
        width: 100%;
        height: 100%;
        
    }

    p{
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 4rem;
        text-transform: uppercase;
    }
    
    h2 {
        font-size: 2rem;
        margin-bottom: 3rem;
        text-transform: uppercase;
        line-height: 1.2;
    }
    
    h3 {
        font-size: 3rem;
        text-transform: uppercase;
    }

    .mapas{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

    }

    .mapap{
        width: 100%;
        height: 100%;
        margin-left: 20%;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .mapap h2{
        width: 140%;
        font-size: 2rem;
    }

    .rizopodes{
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .rizopodes h2{
        font-size: 2.5rem;
        margin-left: 29%;
        width: 150%;
        
    }

    .rizopodes-col{
        width: 129%;
        margin-left: 30%;
    }

    .flagelados2{
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .flagelados2 h2{
        font-size: 2.5rem;
        margin-left: -65%;
        width: 150%;
        
    }

    .flagelados2-col{
        width: 129%;
        margin-left: 30%;
    }

    .texto{
        width: 100%;
        margin-left: 45%;
    }
    
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 4rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 6.5rem;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}
