/*aaaa*/

@media (max-width:1100px) {
    .mapas{
        width: 100%;
        height: 100%;
    }

    .row{
        flex-direction: column;
      }

    .flagelados2 h1{
        font-size: 2rem;
    }
    
}

.flagelados2{
    width: 40%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.flagelados2 h1{
    font-size: 3rem;
    margin-top: 0;
  }

.flagelados2 h3{
    font-size: 70%;
}

.flagelados2 p{
    font-size: 50%;
}
  

.flagelados2 .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  
.flagelados2-col{
    flex-basis: 46%;
    background: #E4F1C0;
    border-radius: 10px;
    margin-bottom: 5%;
    margin: 1%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
  }

  
  .flagelados2-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  }
  
.mapap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.rizopodes{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.rizopodes h1{
    font-size: 3rem;
    margin-top: 0;
  }

.rizopodes h3{
    font-size: 90%;
}

.rizopodes p{
    font-size: 60%;
}
  

.rizopodes .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  
.rizopodes-col{
    flex-basis: 70%;
    background: #E4F1C0;
    border-radius: 10px;
    margin-bottom: 5%;
    margin: 1%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
  }

  
  .rizopodes-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  }
  

